body{
  background-color:#aaf0ea;
}
hr{
  border-style: none;
  border-top-style:dotted;
  border-color: grey;
  border-width: 3;
}
h1{
  color: #458ae4;
}
h2{
  color: #7868e6;
}
h3{
    color: #6b011f;
}
.main{
  display: flex;
  justify-content: center;
}
